body{
    margin:0px;
}

table#game_board {
    margin: 20px auto auto;
    border: 0px;
    box-shadow: 0px 0px 10px #000;
    background-color:white;
    border-collapse: collapse;

}


table#game_board tr th.header, table#game_board tr td.b_cell,table#game_board tr td.w_cell{
    height: 50px;
    width: 50px;
    border: 0px;
}


tr td.b_cell{
    background-color: dimgrey;
    
}


 td.w_cell{
    background-color: white;
    
}

img.figure ,img.figure_a{
    position: absolute;
    height: 50px;
    width: 50px;
}

img.figure_a{

    box-shadow: 0px 0px 10px #FF3300;
        
}

img#w_king {
    left: 200px;
    top: 200px;
}



div.b111 {
    width:100%;
    min-height:100%;
    background-color:rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top: 0px;
}


div.challenge_block {
    margin: 200px auto 0px auto;
    width: 300px;
    height: 100px;
    padding: 10px;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
    background-color:white;
}


div#load_line {
    height:5px;
    width:280px;
    background-color:#CC0000;

}

div.op_list{
    margin-left:10px;
}

