table#game_board {
    margin: 20px auto auto;
    border: 0px;
    box-shadow: 0px 0px 10px #000;
    background-color:white;
    border-collapse: collapse;

}


table#game_board tr th.header, table#game_board tr td.b_cell,table#game_board tr td.w_cell{
    height: 50px;
    width: 50px;
    border: 0px;
}


tr td.b_cell{
    background-color: dimgrey;
    
}


 td.w_cell{
    background-color: white;
    
}

img.figure ,img.figure_a{
    position: absolute;
    height: 50px;
    width: 50px;
}

img.figure_a{

    box-shadow: 0px 0px 10px #FF3300;
        
}

img#w_king {
    left: 200px;
    top: 200px;
}

