{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Game {% endblock %}


{% block content %}
{% verbatim %}


    <div ng-app="chessModule" ng-controller = "coordCtrl" id = "game_page">
        <table id = "game_board"  ng-init="coords = {
                        x:[1,2,3,4,5,6,7,8],
                        y:[8,7,6,5,4,3,2,1],
                        ccl_c:{count:'w_cell',uncount:'b_cell'},
                        ccl_u:{uncount:'w_cell',count:'b_cell'},
                        c_liter_header:['a','b','c','d','e','f','g','h'],
                        }">
            <tr>
                <th class = "header">  </th>
                <th class = "header" ng-repeat="c_literal in coords.c_liter_header"> {{c_literal}} </th>
                <th class = "header">  </th>
            </tr>
            
            <tr ng-repeat = ' yVal in coords.y' ng-init ="cur_raw = yVal % 2 == 0 ? coords.ccl_u : coords.ccl_c ">
                
                <th class="header"  >{{yVal}}</th>
                <td ng-repeat= ' xVal in coords.x'
                    ng-class-odd="'{{cur_raw.uncount}}'"  
                    ng-class-even="'{{cur_raw.count}}'"
                    id="{{xVal}},{{yVal}}"
                    
                    ng-click = "moveFigure($event)"
                    ></td>
                <th class="header">{{yVal}}</th>
                
            </tr>
            
             <tr>
                <th class = "header">  </th>
                <th class = "header" ng-repeat="c_literal in coords.c_liter_header"> {{c_literal}} </th>
                <th class = "header">  </th>
            </tr>
        </table>
        {% endverbatim %}
        <img src="{% static 'Image/Figure/f_king.png' %}" id="w_king" alt="w_king" class="figure" ng-click = "chooseFigure($event)" >
    </div>

{% endblock %}