{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Opponents {% endblock %}


{% block content %}
{% verbatim %}
<div ng-app="chessModule" id = "opponents" ng-controller="oppCtrl">

            <h1>Противники  </h1>

            <ul class="op_list">
                <li ng-repeat="user in opponents" ng-click="send_challenge($event)" id="{{user}}">
                    {{user}}
                </li>
            </ul>
<div  class="b111" id = "challenge_send">
        <div class="challenge_block">
            <h4>Вы бросили вызов противнику {{challenge_target}}</h4>
            <div id="load_line"></div>
        </div>

</div>

<div  class="b111" id = "challenge_get">
        <div class="challenge_block">
            <h4>Вы получили вызов от противника {{response_data.challenge_s}}</h4><br>
            <input type = "button" value="Отказаться"  ng-click="refuseChallenge()">
            <input type="button" value="Принять" ng-click="acceptChallenge">
        </div>

</div>



</div>



{% endverbatim %}
{% endblock %}